<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiblioTech">
        <activity
            android:name=".ActivityEditarPerfilAdmin"
            android:exported="false" />
        <activity
            android:name=".ActivityPerfilAdmin"
            android:exported="false" />
        <activity
            android:name=".ActivityChatBot"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHomeAdmin"
            android:exported="false" />
        <activity
            android:name=".ActivityHomeUsuario"
            android:exported="false" />
        <activity
            android:name=".ActivityHistoricoUsuario"
            android:exported="false" />
        <activity
            android:name=".ActivityEmissaoRelatorio"
            android:exported="false" />
        <activity
            android:name=".ActivityListagemUsuarios"
            android:exported="false" />
        <activity
            android:name=".ActivityGerenciarReservasLivro"
            android:exported="false" />
        <activity
            android:name=".ActivityEditarPerfil"
            android:exported="false" />
        <activity
            android:name=".ActivityPerfil"
            android:exported="false" />
        <activity
            android:name=".ActivityNotificacoes"
            android:exported="false" />
        <activity
            android:name=".ActivityMeusEmprestimos"
            android:exported="false" />
        <activity
            android:name=".ActivityDetalhesLivro"
            android:exported="false" />
        <activity
            android:name=".ActivityBuscaLivros"
            android:exported="false" />
        <activity
            android:name=".ActivityCadastro"
            android:exported="false" />
        <activity
            android:name=".ActivityEsqueceuSenha"
            android:exported="false" />
    </application>

</manifest>